@use '../../partials/_colors.scss'as color;
@use '../../partials/_fonts.scss'as font;
@use '../../mixins/_mixins.scss'as mixin;

$img_size: 150px;

.about {
  min-height: 100vh;
  padding: 128px 0;
  background-color: color.$body-color;

  &__hero {
    @include mixin.dflex(space-between, "", 30px);
    padding: 50px 70px;

    &--slider {
      width: 25%;
      height: 300px;
      margin: 0 auto;
      border: 2px solid lightgray;
      position: sticky;
      top: 120px;
      background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 10px;

      &-img {
        width: 100%;
        animation: sliderImg 30s linear infinite;
        height: 100%;
      }
    }

    @keyframes sliderImg {

      40%,
      60% {
        transform: translateY(calc(($img_size * 6) * -1))
      }
    }

    &--info {
      width: 60%;
      @include mixin.fonts(1.6rem, "Baskervville", white);

      h2 {
        font-size: 3.5rem;
        @include mixin.fonts(3.5rem, "Montserrat", color.$highlight-text);
        text-align: center;
      }

      br {
        margin-bottom: 30px;
      }

      &-hg {
        color: color.$highlight-text;
        @include mixin.fonts(1.7rem, "Nunito Sans", color.$highlight-text);
      }

      li {
        span {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  &__skills {
    @include mixin.dflex(center, center, 50px);
    flex-flow: column nowrap;

    h2 {
      @include mixin.fonts(2.3rem, "Nunito Sans", color.$highlight-text);
    }
    &--container {
      @include mixin.dflex(center, center, 20px);
      flex-flow: row wrap;
      width: 80%;

      &-item {
        background-color: color.$title-background;
        padding: 20px;
        transition: all 80ms ease;
        border-radius: 5px;
        opacity: .7;
        margin: 10px 0;

        color: white;
        @include mixin.fonts(4rem, "", white);
        @include mixin.dflex(center, center, 12px);
        flex-flow: column nowrap;

        &-title{
          @include mixin.fonts(1rem, "Nunito Sans", color.$pastel-red);
        }
      }
      &-item:hover{
        opacity: 1;
        transform: scale(1.2);
        border: 1px solid white;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .about{
    &__hero{
      padding: 40px;
      &--slider{
        display: none;
      }
      &--info{
        width: 100%;
      }
    }
    &__skills{
      text-align: center;
    }
  }
}