@use '../../partials/_colors.scss'as color;
@use '../../partials/_fonts.scss'as font;
@use '../../mixins/_mixins.scss'as mixin;

.home {
  @include mixin.dflex(center, center, 0px);
  @include mixin.fonts(2rem, inherit, white);
  background: color.$body-color;
  width: 100%;
  padding: 130px 0 0 0;
  color: white;
  font-size: 2rem;
  transition: ease .3s;
  flex-flow: column nowrap;
  position: relative;

  &__hero {
    height: 90vh;
    @include mixin.dflex(center, center, 0px)
  }

  &__hero--info {
    &-title {
        @include mixin.fonts(1.6, "Montserrat", White);
      font-size: 2.2rem;

      &-name,
      &-position {
        @include mixin.fonts(2.5rem, "Nunito Sans", color.$highlight-text);
      }
    }

    &-text {
      display: inline-flex;
      margin: 50px 0 0 0px;
      @include mixin.fonts(2.1rem, "Nunito Sans", inherit);

      .dynamic-text {
        line-height: 40px;
        height: 40px;
        overflow: hidden;

        li {
          color: color.$pastel-red;
          position: relative;
          top: 0;
          animation: slide 9s steps(3) infinite;
        }

        li span {
          position: relative;
        }

        li span::after {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          width: 100%;

          background-color: color.$body-color;
          border-left: 2px solid white;
          animation: typing 3s steps(30) infinite;
        }

        @keyframes typing {

          40%,
          60% {
            left: calc(100% + 10px);
          }
        }

        @keyframes slide {
          100% {
            top: -120px;
          }
        }
      }
    }
  }

  &__hero-img {
    width: 50%;
  }

  &__presentation {
    width: 80%;
    text-align: center;

    h2 {
      margin: 0 0 20px 0;
      @include mixin.fonts(1.6, "Nunito Sans", White)
    }

    &-title {
      color: color.$highlight-text;
    }

    &-p {
      @include mixin.fonts(1.5rem, "Baskervville", white);
      text-align: left;
      margin: 0 0 20px 0;

      .highligh-text {
        color: color.$pastel-red;
      }
    }
  }

  &__contact {
    @include mixin.dflex(center, center, 0);
    margin: 50px 0 100px 0;
    flex-flow: column nowrap;
    @include mixin.fonts(2rem, "Nunito Sans", inherit);

    span {
      color: color.$highlight-text;
    }

    &--list {
      @include mixin.dflex(center, center, 20px);
      margin: 30px 0 0 0;

      &-item {
        @include mixin.fonts(2.4rem, inherit, color.$highlight-text);
        cursor: pointer;
      }
    }
  }
}