@font-face {
  font-family: "montserrat";
  src: url(../../public/assets/fonts/font-logo/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Baskervville";
  src: url(../../public/assets/fonts/font-text/Baskervville-Regular.ttf);
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../public/assets/fonts/font-title/NunitoSans-Regular.ttf);
}