@use '../../mixins/_mixins.scss'as mixin;
@use '../..//partials/colors' as color; 

.footer {
  @include mixin.dflex(space-between, center, 30px);
  @include mixin.fonts(1.3rem, "Montserrat", white);
  padding: 10px 70px;
  width: 100%;
  position: absolute;
  bottom: auto;
  background-color: black;
  z-index: 10;
  background-color: color.$footer-color;
  &--list{
    @include mixin.dflex(center, center, 10px);
    font-size: 2rem;
  }
}