@use '../../partials/_colors.scss'as color;
@use '../../mixins/_mixins.scss'as mixin;

.active {
  padding: 10px 0 !important;
}

.header {
  width: 100%;
  @include mixin.dflex(space-around, center, 0);
  padding: 40px 0; //height: 128px 
  background-color: color.$header-color;
  position: fixed;
  transition: ease .2s;
  z-index: 2;

  &-logo {
    @include mixin.fonts(2rem, "Montserrat", white);
    color: white;
    font-family: "Montserrat";
    font-size: 2rem;
    padding: 5px 10px;
    background-color: color.$title-background;
    border-radius: 10px;
  }

  &__nav {
    &--list {
      @include mixin.dflex(center, center, 10px);

      li {
        @include mixin.dflex(center, center, 10px);
        text-decoration: none !important;
        background: color.$title-background;
        padding: 10px;
        border-radius: 10px;
        box-shadow: inset 5px 0 0 0 color.$red;
        transition: ease 1s;
        outline: none;
      }

      li:hover {
        box-shadow: inset 140px 0px 0px 40px color.$red;
      }

      &-item {
        @include mixin.dflex(center, center, 10px);
        @include mixin.fonts(1.3rem, "Montserrat", white);
        width: 110px;
        list-style: none;
        padding: 10px 80px !important;
      }
    }
  }
}