@use '../../partials/_colors.scss'as color;
@use '../../mixins/_mixins.scss'as mixin;

.active {
  padding: 10px 0 !important;
}

.header {
  width: 100%;
  @include mixin.dflex(space-around, center, 0);
  padding: 40px 0; //height: 128px 
  background-color: color.$header-color;
  position: fixed;
  transition: ease .2s;
  z-index: 2;

  &-logo {
    @include mixin.fonts(2rem, "Montserrat", white);
    font-family: "Montserrat";
    font-size: 2rem;
    padding: 5px 10px;
    background-color: color.$title-background;
    border-radius: 10px;
  }

  &__nav {
    &--list {
      @include mixin.dflex(center, center, 10px);

      li {
        @include mixin.dflex(center, center, 10px);
        text-decoration: none !important;
        background: color.$title-background;
        padding: 10px;
        border-radius: 10px;
        box-shadow: inset 5px 0 0 0 color.$red;
        transition: ease 1s;
        outline: none;
      }

      li:hover {
        box-shadow: inset 140px 0px 0px 40px color.$red;
      }

      &-item {
        @include mixin.dflex(center, center, 10px);
        @include mixin.fonts(1.3rem, "Montserrat", white);
        width: 110px;
        list-style: none;
        padding: 10px 80px !important;
      }
    }
  }

  &__responsive {
    position: absolute;
    top: 45px;
    right: 25%;
    z-index: 200;
    color: white;
    font-size: 2rem;
    display: none;

    &--bars,
    &--X {
      position: absolute;
      z-index: 30;
    }

    &--bars {
      z-index: 1;
    }

    &--X {
      z-index: 3;
    }

    &--bars.hidden,
    &--X.hidden {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .header {
    &__nav--list {
      position: absolute;
      top: 0px;
      right: 0;
      z-index: 4;
      flex-flow: column;
      height: 100vh;
      width: 50%;
      background-color: color.$header-color;
      transition: all 1s ease;
    }

    &__nav--list.clicked {
      transform: translateX(0%);
    }

    &__nav--list.unclicked {
      transform: translateX(100%);
    }

    &__responsive {
      display: block;
    }
  }

  #icon-bars-activated {
    top: -25px;
  }
}