@use './styles/partials/_colors.scss'as color;
@use './styles/partials/_fonts.scss'as font;

@use './styles/modules/components/_header.scss';

@use './styles/modules/pages/_home.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}